{
    "mqtt": {
        "username": "",
        "password": "",
        "host": "edge2ai-1.dim.local",
        "port": 1883,
        "topic": "iot"
    },
    "misc": {
        "interval_ms": 500,
        "verbose": true
    },
    "machines": {
        "machine_id": "",
        "sensor_ts": "",
        "sensor_0": [0, 100],
        "sensor_1": [5, 100],
        "sensor_2": [1, 20],
        "sensor_3": [20, 60],
        "sensor_4": [1, 60],
        "sensor_5": [10, 80],
        "sensor_6": [1, 200],
        "sensor_7": [80, 150],
        "sensor_8": [1, 50],
        "sensor_9": [1, 10],
        "sensor_10": [1, 200]
    }
}
